# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
venv_clean/

# Models
models/
weights/
*.pt
*.onnx
*.engine

# Videos
*.mp4
*.mkv
*.avi
*.mov

# Caches
*.pkl

# Outputs
output/
runs/

# IDE
.vscode/
.idea/